.search-input {
    left: 0;
    width: 100%;
    padding: 15px 4px 15px 20px;
    color: #7f7f7f;
    border: none;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;
    outline: none;
}